<div class="sidebar">
	<ul>	
		<%= current_tab "Home", dash_home_path %>
	 	<%= current_tab "Subscribers", dash_subscribers_path %>
		<%= current_tab "Transactions", dash_transactions_path %>
		<%= current_tab "Plans", dash_plans_path %>
		<%= current_tab "Account", dash_account_path %>
	</ul>
</div>