<%= render layout: "partials/dashboard" do %>
  <h1>Plans</h1>
  <% if @plans.length == 0 %>
    <p>You do not have any plans yet</p>
    <div class="grid">
      <%= grid_item 'Add Plan', new_dash_plan_path, 'ion-android-add'  %>
    </div>
  <% else %>
  <table id="plans" class="datatable">
    <%= render partial: 'partials/table_head', locals: { columns: ['name', 'amount', 'actions'] } %>
    <tbody>
      <% @plans.each.with_index(1) do |plan, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= plan.name %></td>
          <td><%= to_money plan.amount %> <%= plan.currency.upcase %></td>
          <td style="text-align:center">
            <%= link_to '<i class="ion-gear-a"></i>'.html_safe, edit_dash_plan_path(plan.id), class: 'button button-small' %>

            <%= form_for plan, method: :delete, url: dash_plan_path(plan.id), html: { class: 'inline' } do |p| %>
              <%= button_tag(class: "button button-small danger") do %>
                <i class="ion-trash-b"></i>
              <% end %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= link_to "Add Another Plan", new_dash_plan_path, class: "button-block" %>
  <% end %>
<% end %>
