<%= render :layout => "partials/dashboard" do %>
  <h1>Add Plan</h1>
  <%= form_for @plan, url: { action: "create" } do |f| %>
    <%= form_field f.text_field :name, placeholder: "Plan Name", class: "prompt" %>
    <%= form_field f.number_field :amount, placeholder: "Amount", class: "money" %>
    <h3>Charge Every:</h3>
    <div class="flex">
      <%= form_field (f.number_field :period_amount, class: "no-image right-aligned margin-right"), 'margin-right' %>
      <%= form_field f.select :period_type, options_for_select([['Months', 'month'], ['Weeks', 'week'], ['Days', 'day']]) %>
    </div>
    <div class="submit">
      <%= submit_tag "Add Plan", class: 'submit-button' %>
    </div>
  <% end %>
<% end %>